:root {
    --clr-dark: oklch(12.9% 0.042 264.695);
    --clr-light: oklch(96.8% 0.007 247.896) ;
    --clr-slate400: oklch(70.4% 0.04 256.788);
    --clr-slate600: oklch(44.6% 0.043 257.281);
    --clr-slate800: oklch(27.9% 0.041 260.031);
    --clr-red: oklch(44.4% 0.177 26.899);
    --clr-violet: oklch(60.6% 0.25 292.717);

    /* sizes */
    --size-2xs: 0.5rem;
    --size-xs: 0.75rem;
    --size-sm: 0.875rem;
    --size-base: 1rem;
    --size-lg: 1.125rem;
    --size-xl: 1.25rem;
    --size-2xl: 1.5rem;
    --size-3xl: 1.875rem;
    --size-4xl: 2.25rem;
    --size-5xl: 3rem;
    --size-6xl: 3.75rem;
    --size-7xl: 4.5rem;
    --size-8xl: 6rem;
    --size-9xl: 8rem;
    --size-10xl: 10rem;
}

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    line-height: calc(1em + 0.5rem);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: var(--clr-dark);
    color: var(--clr-light);
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    user-select: none;
}

button {
    display: inline-block;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    color: inherit;
}

a {
    color: var(--clr-red);
}

strong {
    color: var(--clr-violet);
}